<hr>
<p class="uk-text-small uk-text-center">Copyright 2018 - <a href="https://gennady.pp.ua/" target="_blank">Gennady
  Dogaev</a> | <a href="https://github.com/zzseba78/Kick-Off" target="_blank">Template
  by KickOff</a>
</p>