@import "dashboard";
@import "helper";

@import "components/issue-filters";

.report-chart {
  @media print {
    page-break-inside: avoid;
  }
}

.uk-grid {
  @media print {
    display: block;
  }
}

.main-footer {
  @media print {
    display: none;
  }
}

.uk-light .uk-nav-sub > li.uk-active > a {
  color: #fff;
}
