<div class="uk-card uk-card-default uk-card-small uk-card-hover">
  <div class="uk-card-header">
    <div class="uk-grid uk-grid-small">
      <div class="uk-width-auto"><h4>Work Ratio By Sprint</h4></div>
    </div>
  </div>
  <div class="uk-card-body">
    <div class="chart-container">

    </div>
  </div>
</div>