{{side-nav}}
<!-- CONTENT -->
<div id="content" data-uk-height-viewport="expand: true">
  <div class="uk-container uk-container-expand">

    <div class="uk-grid uk-grid-medium " uk-height-viewport="expand: true" data-uk-grid>

      <!-- panel -->
      <div class="uk-width-1-1 uk-height-1-1">
        <div class="uk-card uk-card-default uk-card-small">
          <div class="uk-card-header">
            <div class="uk-grid uk-grid-small">
              <div class="uk-width-auto"><h4>About</h4></div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>This application has been created to analyze JIRA issues, mainly logged time/estimates</p>
            <p>How to use:</p>
            <ol>
              <li>
                In JIRA:
                <ol>
                  <li>Go to the board or project you wish to export</li>
                  <li>On the left side, click on Issues and filters</li>
                  <li>Click "Advanced search"</li>
                  <li>Apply filters if you want</li>
                  <li>On the top right of your screen, click on the "Export" drop down (second icon from the right).
                  </li>
                  <li>Save file to your PC</li>
                </ol>
              </li>
              <li>
                In this app:
                <ol>
                  <li>Navigate to Import</li>
                  <li>Import your file</li>
                  <li>Now you can go to List of issues or report</li>
                </ol>
              </li>
            </ol>

            <p><strong>App will not work if you have language different from "English (USA)" in personal JIRA
            settings because this leads to translated column headers in CSV</strong></p>

            <p>This application does not store your data anywhere in cloud. All data will be lost as soon as you reload
              page in browser. But this also might lead with performance issues in case of big files.</p>

            <p class="uk-text-center">
              {{link-to 'Go to Import' 'import' class="uk-button uk-button-primary uk-button-large"}}
            </p>
          </div>
        </div>
      </div>
      <!-- /panel -->

    </div>

    {{x-footer}}
  </div>
</div>
<!-- /CONTENT -->