{{side-nav}}
<!-- CONTENT -->
<div id="content" data-uk-height-viewport="expand: true">
  <div class="uk-container uk-container-expand">

    <div class="uk-grid uk-grid-medium " uk-height-viewport="expand: true" data-uk-grid>

      <!-- panel -->
      <div class="uk-width-1-1 uk-height-1-1">
        <div class="uk-card uk-card-default uk-card-small">
          <div class="uk-card-header">
            <div class="uk-grid uk-grid-small">
              <div class="uk-width-auto"><h4>About</h4></div>
            </div>
          </div>
          <div class="uk-card-body">
            <p>This application was built to analyze spent time/estimates logged into Jira.
              You will need to export your Jira issues in CSV format (Import page includes instructions)</p>

            <h4>Performance</h4>

            <p>
              Jira Stats is a client-side web application. Because of that, performance depends
              on your PC and may vary.
              App was tested on 1000 issues and on that amount performance is perfect. However, I didn't
              test it with larger amounts. As a precaution, amount of issues this app will store and process (in total)
              is limited to 50000</p>

            <h4>Data Persistence & Security</h4>

            <p>This application stores your data in browser, using IndexedDB. Therefore, data is accessible
              to people who can access your PC. If you want to remove all stored data &mdash; click "Drop Database"
              in "user menu" in left navigation panel (if it doesn't work - try to reload page in browser)</p>

            <p class="uk-text-center">
              {{link-to "Let's begin!" 'import' class="uk-button uk-button-primary uk-button-large"}}
            </p>

            <p><a href="https://github.com/GendelfLugansk/jira-stats" target="_blank">This project on GitHub</a></p>
          </div>
        </div>
      </div>
      <!-- /panel -->

    </div>

    {{x-footer}}
  </div>
</div>
<!-- /CONTENT -->